


.titulo2{
    color: linear-gradient(
        180deg,
        rgba(173, 0, 255, 1) 39.57333564758301%,
        rgba(5, 0, 255, 1) 39.58333432674408%,
        rgba(255, 255, 255, 0.73) 51.5625%,
        rgba(0, 255, 194, 0.42) 73.95833134651184%,
        rgba(0, 0, 0, 0) 100%)

}



.titulo1{

    font-size: 50px;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
        width: 100px;
    height: 50px;
    left: 150px;
    top: 40px;
    position: relative;
    }
    
    
    .titulo2{
    
    font-size: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100px;
    height: 50px;
    left: 150px;
    top: 40px;
    position: relative;
    }
    
    
    .titulo3{
    
     font-size: 30px;
    
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        width: 100px;
      height: 50px;
        left: 645px;
        top: 40px;
        position: relative;
    }
    
    
    
    .titulo4{
    
    
        font-size: 30px;
    
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        height: 50px;

        left: 766px;
        top: -90px;
        position: relative;
        }
        
       
    
    .titulo5{

        font-size: 100px;
        font-family: 'Times New Roman', Times, serif;
        width: 100px;
        height: 50px;
        left: 738px;
        top: -105px;
        position: relative;
        }
             
    
    .fundo{
        width: 100%;
        background-color: rgb(215, 234, 250);
     position: absolute;
        overflow: hidden;
        height: 100%;
    
    
    }
    
    
    
    
    